/* Google Fonts - Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* ---- GENERAL AND INSTRUCTIONS STYLES ---- */
:root {
  --color-primary: #1b4f72;
  --color-primary-out: #fff;
  --color-background-primary-out: #d8d8d8;

  --color-secondary: #f56e6e;
  --color-background-secondary-out: #f3f3f3;

  --color-error-out: #d93025;
  --color-spinner-out: #3498db;

  --color-tertiary: #9acd32;
  --color-background-tertiary-out: #0189ff;

  --color-header: #f2f2f2;
  --color-even: #eff6ff;
  --color-odd: #fcf3f3;
  --color-modal: #f3f3f3;
  --color-box-shadow: #0000004d;

  --color-button-background: #fff;
  --color-button-background-out: #1f58f5;

  --color-body-background: #fdfdfd;
  --color-solved-allowed: #02b89f;
  --color-input-hover: #f5f5f5;
  --color-input-border: #aaa;

  --font-instructions-button: 18px;
  --button-border-radius: 3px;
  --transition-button: all 0.3s;
  --transition-modal: all 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border-spacing: 0;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-body-background);
}
.init {
  position: relative;
  margin: 60px 0 30px 40px;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-header);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.header {
  color: var(--color-primary);
  letter-spacing: 1px;
  margin-left: 20px;
}
.instruction-1,
.instruction-2,
.instruction-3,
.instruction-4,
.instruction-5 {
  display: list-item;
  font-size: var(--font-instructions-button);
  color: var(--color-primary);
  letter-spacing: 0.6px;
}
/* ---- ERRORS STYLES ----*/
.error {
  color: var(--color-secondary);
  font-weight: bold;
}

.errors-counter {
  position: absolute;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-primary);
}
/* ---- TIMER STYLES ---- */
.timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-left: 100px;
}
.playingTime {
  color: var(--color-primary);
  font-size: 18px;
  font-weight: bold;
}
.limit-time {
  color: var(--color-secondary);
  font-weight: bold;
}
.which-board {
  position: absolute;
  left: 33%;
}
/* ---- SUDOKU BOARD STYLES ---- */
.game-board {
  position: relative;
  display: inline-block;
  width: 540px;
  height: 540px;
  margin-bottom: 110px;
  margin-left: 40px;
}
.sudoku-solver {
  width: 50%;
}
.board-container {
  position: relative;
  margin-left: 50px;
}
.puzzle {
  width: 540px;
  height: 540px;
}
.puzzle input {
  text-align: center;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--color-input-border);
}
.puzzle input:hover {
  background-color: var(--color-input-hover);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  cursor: pointer;
}
.pause-message {
  display: none;
  position: absolute;
  top: 46%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: var(--color-secondary);
  text-align: center;
  transition: opacity 0.7s;
}
img {
  cursor: pointer;
}
.even-section {
  background: var(--color-even);
}
.odd-section {
  background: var(--color-odd);
}
/* ---- STYLE FOR THE LINES THAT DIVIDE THE GRIDS ---- */
.puzzle input[data-row='2'],
.puzzle input[data-row='5'] {
  border-bottom-width: 3px;
}
.puzzle input[data-col='2'],
.puzzle input[data-col='5'] {
  border-right-width: 3px;
}

/* ---- NUMBERS AND INPUTS STYLES ---- */
input.invalid {
  border: 2px solid var(--color-secondary);
}
.solved-allowed-input {
  color: var(--color-solved-allowed);
}
.digits {
  display: block;
  position: absolute;
  margin-left: 550px;
}
.numbers {
  width: 44px;
  height: 44px;
  border: 1px solid black;
  margin: 12px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-selected {
  background-color: gray;
}

.icon-pause,
.icon-play {
  width: 22px;
  height: 22px;
  padding-right: 25px;
  cursor: pointer;
}

.icon-pause {
  background-image: url('../img/pause-icon.png');
}
.icon-play {
  display: none;
  background-image: url('../img/play-icon.png');
}
/* ---- BUTTONS STYLE ----*/
.decorator-button {
  font-weight: bold;
}
.logout-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #8ebdfc;
  color: var(--color-button-background);
  border: 1px solid #8ebdfc;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition-button);
}
.logout-btn:hover {
  color: var(--color-secondary);
  background-color: #f2f2f2;
  border: 1px solid var(--color-secondary);
}
.new-board-btn {
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #8ebdfc;
  border-radius: var(--button-border-radius);
  text-align: center;
  font-size: var(--font-instructions-button);
  font-weight: bold;
  cursor: pointer;
  color: var(--color-button-background);
  background-color: #8ebdfc;
  transition: var(--transition-button);
}
.new-board-btn:hover {
  background-color: var(--color-button-background);
  color: #8ebdfc;
}
.extra-boards {
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  text-align: center;
  font-size: var(--font-instructions-button);
  font-weight: bold;
  cursor: pointer;
  color: var(--color-secondary);
  background-color: var(--color-button-background);
  transition: var(--transition-button);
}
.extra-boards:hover {
  background-color: var(--color-secondary);
  color: var(--color-button-background);
}
.action-btns {
  position: absolute;
  bottom: 96%;
  left: 85%;
}
.remove-board-btn {
  border: none;
  margin-right: 18px;
  cursor: pointer;
}
.remove-board-btn:hover::after {
  content: 'Delete Board';
  display: inline-block;
  background-color: #333;
  color: var(--color-input-hover);
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  z-index: 1;
}
.save-game-btn {
  border: 1px solid var(--color-solved-allowed);
  border-radius: var(--button-border-radius);
  background-color: inherit;
  color: var(--color-solved-allowed);
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
  transition: var(--transition-button);
}
.save-game-btn:hover {
  background-color: var(--color-solved-allowed);
  color: var(--color-button-background);
}

.load-button {
  position: absolute;
  left: 65%;
  margin-top: 9px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: var(--color-button-background);
  color: var(--color-primary);
  font-weight: bold;
  padding: 14.5px;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-instructions-button);
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px;
  transition: var(--transition-button);
}
.solve-button {
  position: absolute;
  left: 33%;
  margin-top: 9px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: var(--color-button-background);
  color: var(--color-primary);
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: var(--font-instructions-button);
  display: inline-block;
  cursor: pointer;
  letter-spacing: 1px;
  transition: var(--transition-button);
}
.solve-button:hover,
.load-button:hover {
  background-color: var(--color-primary);
  color: var(--color-button-background);
}
.popup-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  border: 1px solid var(--color-primary);
  border-radius: var(--button-border-radius);
  background-color: var(--color-modal);
  color: #535353;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  transition: var(--transition-button);
}
.popup-button:hover {
  background-color: var(--color-primary);
  color: var(--color-modal);
}

/* ---- INFO STYLE ---- */
.post {
  width: 60%;
  text-align: center;
}
.second-post {
  margin-top: 20px;
}
.entry-title {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  vertical-align: middle;
  color: var(--color-primary);
}
.entry-content {
  padding-left: 20px;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  color: #6e7c8c;
}
.entry-paragraph {
  margin: 1em 0;
}
.entry-content ul {
  display: block;
  margin: 30px 0;
  padding: 30px 30px 30px 45px;
  border: 1px solid #c3dbfa;
  border-radius: 8px;
  background-color: #c3dbfa;
  list-style: disc outside;
}
/* ---- POPUP STYLE ----*/
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background: var(--color-modal);
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem var(--color-box-shadow);
  z-index: 1000;
  transition: var(--transition-modal);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-box-shadow);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: var(--transition-modal);
}
.popup-content {
  font-size: 20px;
  color: var(--color-primary);
  margin-bottom: 20px;
  line-height: 1.5;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Style for the fake loading popup */
#loading-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-box-shadow);
  z-index: 9999;
}
#loading-spinner {
  position: absolute;
  top: 40%;
  left: 48%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid var(--color-background-primary-out);
  border-top-color: var(--color-spinner-out);
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
